
.header__name{
    font-size: 30px;
    font-style: bold;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__buttons{
    display: flex;
    justify-content: center;
}
.nav__buttons-items{
    display: flex;
    justify-content: space-around;


}

.button__item{
    display: block;
    width: 100%;
    height: auto;
    max-width: 200px;
    min-height: 20px;

    margin-right: 10px;
    margin-left: 10px;
    
}

    
