<!-- <section class="container col-3">
    <div class="row">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword" required>
                <a 
                class="forgot__password" 
                href="#"
                style="cursor: pointer;"
                >Forgot password? Press for recovery</a>
            </div>
            <div class="mb-3 low__btns">
                <button type="signin" class="btn btn-dark">Sign in</button>
                <a type="register" class="btn btn-primary" href="#">Sing up</a>
            </div>
        </form>
    </div>
</section> -->

<section class="container">
    <div class="row">
        <div class="col-xs-12 d-flex justify-content-center">
            <form (ngSubmit)="onSignin(f)" #f="ngForm">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" ngModel class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" ngModel class="form-control" [minlength]="6">
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
            </form>
        </div>
    </div>
</section>
